.footer {
    margin-top: 100px;
    background: #ccc;
    padding: 50px 0;
    &__top {
        @include flex(flex, center, space-between);
        padding: 20px 0;
        border-top: 1px solid $bg-blue;
        border-bottom: 1px solid $bg-blue;
    }
    &__icons {
        a {
            margin-left: 30px;
        }
    }
    &__bottom {
        padding-top: 30px;
        a {
            display: block;
            margin-top: 20px;
            @include font(24px, 700, $text-blue);
        }
    }
}